### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
school_count = school_data['school_name'].count()
school_count

15

In [3]:
# Calculate the total number of students
student_count = student_data['student_name'].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [5]:
# Calculate the average math score
avg_math_score = student_data['math_score'].mean()
avg_math_score

78.98537145774827

In [6]:
# Calculate the average reading score
avg_reading_score = student_data['reading_score'].mean()
avg_reading_score

81.87784018381414

In [7]:
# Calculate the percentage of students with a passing math score (70 or greater)
# We already know total number of students from student_count
# Filter students with math score >= 70
math_passers_list = school_data_complete.loc[school_data_complete['math_score'] >= 70]
# Calculate total number of students who passed math
math_passers_count = math_passers_list['student_name'].count()
# Calculate percentage of passing students in math
math_passers_percentage = (math_passers_count / student_count) * 100
math_passers_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
# We already know total number of students from student_count
# Filter students with reading score >= 70
reading_passers_list = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
# Calculate total number of students who passed reading
reading_passers_count = reading_passers_list['student_name'].count()
# Calculate percentage of passing students in reading
reading_passers_percentage = (reading_passers_count / student_count) * 100
reading_passers_percentage

85.80546336482001

In [9]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
# We already know total number of students from student_count
# Filter students with both math and reading score >= 70
math_and_reading_passers_list = school_data_complete.loc[(school_data_complete['reading_score'] >= 70) & 
                                                        (school_data_complete['math_score'] >= 70)]
# Calculate total number of students who passed both reading and math
math_and_reading_passers_count = math_and_reading_passers_list['student_name'].count()
# Calculate percentage of passing students in both reading and math
math_and_reading_passers_percentage = (math_and_reading_passers_count / student_count) * 100
math_and_reading_passers_percentage

65.17232575950983

In [10]:
# Create a dataframe to hold the above results
df = pd.DataFrame([[school_count, student_count, total_budget, avg_math_score, avg_reading_score,
                    math_passers_percentage, reading_passers_percentage, math_and_reading_passers_percentage]], 
                    index=[0], columns=list('ABCDEFGH'))
# Rename all columns
district_summary = df.rename(columns={"A":"Total Schools", "B":"Total Students", "C":"Total Budget",
                                      "D":"Average Math Score", "E":"Average Reading Score",
                                      "F":"% Passing Math", "G":"% Passing Reading", 
                                     "H":"% Overall Passing"})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
# Optional: give the displayed data cleaner formatting
# Format Total Students column and Total Budget column per the sample solution
district_summary.style.format({"Total Students": "{:,d}", "Total Budget": "${:,.2f}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
# Change original df name and set school type per school
new_index_df = school_data_complete
school_type = school_data[["school_name","type"]].set_index("school_name")
school_type.head()

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter

In [13]:
# Calculate New Column for Total Students per School
students_per_school = new_index_df['school_name'].value_counts()
students_per_school.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [14]:
# Calculate New Column for Total School Budget per School
budget_per_school = new_index_df.groupby(["school_name"]).mean()["budget"]
budget_per_school.head()

school_name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: budget, dtype: float64

In [15]:
# Calculate New Column for Budget per Student
budget_per_student = budget_per_school / students_per_school
budget_per_student.head()

Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [16]:
# Calculate New Column for Average Math Score per school
avg_math_per_school = new_index_df.groupby(["school_name"]).mean()["math_score"]
avg_math_per_school.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [17]:
# Calculate New Column for Average Reading Score per school
avg_reading_per_school = new_index_df.groupby(["school_name"]).mean()["reading_score"]
avg_reading_per_school.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [18]:
# Calculate New Column for % Passing Math per school
# We already know total number of students per school from students_per_school
# Filter students with math score >= 70 from new_index_df
math_passers = new_index_df.loc[new_index_df['math_score'] >= 70]
# Calculate total number of students who passed math per school
math_passers_per_school = math_passers['school_name'].value_counts()
# Calculate percentage of passing students in math per school
math_passers_per_school_percentage = (math_passers_per_school / students_per_school) * 100
math_passers_per_school_percentage.head()

Bailey High School      66.680064
Cabrera High School     94.133477
Figueroa High School    65.988471
Ford High School        68.309602
Griffin High School     93.392371
Name: school_name, dtype: float64

In [19]:
# Calculate New Column for % Passing Reading per school
# We already know total number of students per school from students_per_school
# Filter students with reading score >= 70 from new_index_df
reading_passers = new_index_df.loc[new_index_df['reading_score'] >= 70]
# Calculate total number of students who passed reading per school
reading_passers_per_school = reading_passers['school_name'].value_counts()
reading_passers_per_school
# Calculate percentage of passing students in reading per school
reading_passers_per_school_percentage = (reading_passers_per_school / students_per_school) * 100
reading_passers_per_school_percentage.head()

Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
Ford High School        79.299014
Griffin High School     97.138965
Name: school_name, dtype: float64

In [20]:
# Calculate New Column for % Overall Passing per school
# We already know total number of students from student_count
# Filter students with both math and reading score >= 70
math_and_reading_passers = new_index_df.loc[(new_index_df['reading_score'] >= 70) & 
                                            (new_index_df['math_score'] >= 70)]
# Calculate total number of students who passed both reading and math per school
math_and_reading_passers_per_school = math_and_reading_passers['school_name'].value_counts()
# Calculate percentage of passing students in both reading and math per school
math_and_reading_passers_per_school_percentage = math_and_reading_passers_per_school / students_per_school * 100
math_and_reading_passers_per_school_percentage.head()

Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
Ford High School        54.289887
Griffin High School     90.599455
Name: school_name, dtype: float64

In [21]:
# Create a dataframe to hold the above results
school_summary = pd.concat([school_type, students_per_school, budget_per_school, budget_per_student, avg_math_per_school, 
                            avg_reading_per_school, math_passers_per_school_percentage,
                           reading_passers_per_school_percentage, math_and_reading_passers_per_school_percentage], 
                           axis=1)
school_summary.columns=list('ABCDEFGHI')
school_summary = school_summary.rename(columns={"A": "School Type", "B":"Total Students", "C":"Total School Budget", "D":"Per Student Budget",
                                      "E":"Average Math Score", "F":"Average Reading Score",
                                      "G":"% Passing Math", "H":"% Passing Reading", "I": "% Overall Passing"})
# Sort DataFrame by index alphabetically
school_summary = school_summary.sort_index(axis=0)
# Format Total School Budget column and Per Student Budget column per the sample solution
school_summary.style.format({"Total School Budget": "${:,.2f}", "Per Student Budget": "${:,.2f}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [22]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
best_schools_df = school_summary.sort_values("% Overall Passing", ascending=False)
# Add formatting to Total School Budget and Per Student Budget to match solution display
best_schools_df["Total School Budget"] = best_schools_df["Total School Budget"].map("${:,.2f}".format)
best_schools_df["Per Student Budget"] = best_schools_df["Per Student Budget"].map("${:,.2f}".format)
# Print out top 5 schools
best_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [23]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
worst_schools_df = school_summary.sort_values("% Overall Passing", ascending=True)
# Add formatting to Total School Budget and Per Student Budget to match solution display
worst_schools_df["Total School Budget"] = worst_schools_df["Total School Budget"].map("${:,.2f}".format)
worst_schools_df["Per Student Budget"] = worst_schools_df["Per Student Budget"].map("${:,.2f}".format)
# Print out top 5 schools
worst_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [24]:
# Create a pandas series for each grade
grade9 = school_data_complete[(school_data_complete["grade"] == "9th")]
grade10 = school_data_complete[(school_data_complete["grade"] == "10th")]
grade11 = school_data_complete[(school_data_complete["grade"] == "11th")]
grade12 = school_data_complete[(school_data_complete["grade"] == "12th")]
# Group by school_name and take the average grade
grade9_grouped = grade9.groupby(["school_name"]).mean()
grade10_grouped = grade10.groupby(["school_name"]).mean()
grade11_grouped = grade11.groupby(["school_name"]).mean()
grade12_grouped = grade12.groupby(["school_name"]).mean()
# Select math score for Series
grade9_avg_math_score = grade9_grouped["math_score"]
grade10_avg_math_score = grade10_grouped["math_score"]
grade11_avg_math_score = grade11_grouped["math_score"]
grade12_avg_math_score = grade12_grouped["math_score"]

In [25]:
# Combine the series into a dataframe
avg_math_score_per_grade = pd.concat([grade9_avg_math_score, grade10_avg_math_score, grade11_avg_math_score,
                                      grade12_avg_math_score], axis=1)
avg_math_score_per_grade.columns=list('ABCD')
avg_math_score_per_grade = avg_math_score_per_grade.rename(columns={"A": "9th", "B":"10th", "C":"11th", "D":"12th"})

In [26]:
# Optional: give the displayed data cleaner formatting
# remove index header 
avg_math_score_per_grade.index.name = None
avg_math_score_per_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [27]:
# Create a pandas series for each grade
grade9 = school_data_complete[(school_data_complete["grade"] == "9th")]
grade10 = school_data_complete[(school_data_complete["grade"] == "10th")]
grade11 = school_data_complete[(school_data_complete["grade"] == "11th")]
grade12 = school_data_complete[(school_data_complete["grade"] == "12th")]
# Group by school_name and take the average grade
grade9_grouped = grade9.groupby(["school_name"]).mean()
grade10_grouped = grade10.groupby(["school_name"]).mean()
grade11_grouped = grade11.groupby(["school_name"]).mean()
grade12_grouped = grade12.groupby(["school_name"]).mean()
# Select reading score for Series
grade9_avg_reading_score = grade9_grouped["reading_score"]
grade10_avg_reading_score = grade10_grouped["reading_score"]
grade11_avg_reading_score = grade11_grouped["reading_score"]
grade12_avg_reading_score = grade12_grouped["reading_score"]

In [28]:
# Combine the series into a dataframe
avg_reading_score_per_grade = pd.concat([grade9_avg_reading_score, grade10_avg_reading_score, grade11_avg_reading_score,
                                      grade12_avg_reading_score], axis=1)
avg_reading_score_per_grade.columns=list('ABCD')
avg_reading_score_per_grade = avg_reading_score_per_grade.rename(columns={"A": "9th", "B":"10th", "C":"11th", "D":"12th"})

In [29]:
# Optional: give the displayed data cleaner formatting
# remove index header 
avg_reading_score_per_grade.index.name = None
avg_reading_score_per_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [30]:
# Establish bins & labels from the solution table
bins_spend = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create df to incorporate bins
school_spending = school_summary.copy()

In [31]:
# Incorporate bins into df
school_spending["Spending Ranges (Per Student)"] = pd.cut(school_spending["Per Student Budget"], bins_spend, labels=group_names)

In [32]:
# Groupby Spending Ranges (Per Student) 
grouped_school_spending = school_spending.groupby(["Spending Ranges (Per Student)"]).mean()
# Retrieve all desired columns from grouped_school_spending
avg_math_score_spending = grouped_school_spending["Average Math Score"]
avg_reading_score_spending = grouped_school_spending["Average Reading Score"]
passing_math_spending = grouped_school_spending["% Passing Math"]
passing_reading_spending = grouped_school_spending["% Passing Reading"]
overall_passing_spending = grouped_school_spending["% Overall Passing"]

In [33]:
# Create DataFrame and display results
school_spending_summary = pd.concat([avg_math_score_spending, avg_reading_score_spending, passing_math_spending,
                                    passing_reading_spending, overall_passing_spending], axis=1)
school_spending_summary.columns=list('ABCDE')
school_spending_summary = school_spending_summary.rename(columns={"A": "Average Math Score", "B": "Average Reading Score",
                                                                    "C": "% Passing Math", "D": "% Passing Reading",
                                                                   "E": "% OVerall Passing"})
school_spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% OVerall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [34]:
# Establish bins & labels from the solution table
bins_size = [0, 1000, 2000, 5000]
label_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Create df to incorporate bins
school_size = school_summary.copy()

In [35]:
# Incorporate bins into df
school_size["School Size"] = pd.cut(school_size["Total Students"], bins_size, labels=label_names)

In [36]:
# Groupby Size Ranges  
grouped_school_size = school_size.groupby(["School Size"]).mean()
grouped_school_size
# Retrieve all desired columns from grouped_school_size
avg_math_score_size = grouped_school_size["Average Math Score"]
avg_reading_score_size = grouped_school_size["Average Reading Score"]
passing_math_size = grouped_school_size["% Passing Math"]
passing_reading_size = grouped_school_size["% Passing Reading"]
overall_passing_size = grouped_school_size["% Overall Passing"]

In [37]:
# Create DataFrame and display results
school_size_summary = pd.concat([avg_math_score_size, avg_reading_score_size, passing_math_size,
                                    passing_reading_size, overall_passing_size], axis=1)
school_size_summary.columns=list('ABCDE')
school_size_summary = school_size_summary.rename(columns={"A": "Average Math Score", "B": "Average Reading Score",
                                                                    "C": "% Passing Math", "D": "% Passing Reading",
                                                                   "E": "% OVerall Passing"})
school_size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% OVerall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [38]:
# Since School Type is an existing column, there is no need to create bins
# Groupby Size Type 
grouped_school_type = school_summary.groupby(["School Type"]).mean()
grouped_school_type
# Retrieve all desired columns from grouped_school_type
avg_math_score_type = grouped_school_type["Average Math Score"]
avg_reading_score_type = grouped_school_type["Average Reading Score"]
passing_math_type = grouped_school_type["% Passing Math"]
passing_reading_type = grouped_school_type["% Passing Reading"]
overall_passing_type = grouped_school_type["% Overall Passing"]

In [39]:
# Create DataFrame and display results
school_type_summary = pd.concat([avg_math_score_type, avg_reading_score_type, passing_math_type,
                                    passing_reading_type, overall_passing_type], axis=1)
school_type_summary.columns=list('ABCDE')
school_type_summary = school_type_summary.rename(columns={"A": "Average Math Score", "B": "Average Reading Score",
                                                                    "C": "% Passing Math", "D": "% Passing Reading",
                                                                   "E": "% OVerall Passing"})
school_type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% OVerall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208